body.admin_c80_contest_settings {

  #titlebar_right .action_items {
    display: none;
  }

  .table_tools {
    display: none;
  }

  a.view_link {
    display: none;
  }
  a.delete_link {
    display: none;
  }

  .blank_slate_container {
    opacity: 0;
  }

  ul {
    white-space: nowrap;
    em {
      font-weight: bold;
      display: inline-block;
      width: 200px;
    }

  }

}