<!DOCTYPE html>
<html>
<head>
  <title>C80Contest</title>
  <%= stylesheet_link_tag    "c80_contest/application", media: "all" %>
  <%= javascript_include_tag "c80_contest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
